@*@using FarmGateDev
@model FarmGateDev.Models.CheckList*@

@{
    ViewData["Title"] = "Home Page";
}
<div>@Html.ActionLink("Self-Assessment Checklist", "EditList")</div>

<div>@Html.ActionLink("Questions", "EditQuestions")</div>
